<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<div class="row">
  <h4><i class="fa fa-folder-open"></i>  <%= @folder.name %></h4>
</div>

<div class="row" style="height: 75vh">
<div class="col-md-8">
  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Name</th>
        <th>Size</th>
        <th>Modified</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @assets.each do |asset| %>
        <tr>
          <td><i class="fa <%=get_icon(asset.uploaded_file_content_type)%>"></i></td>
          <% if asset.is_public %>
            <td><i class="fa fa-globe"></i></td>
          <% else %>
            <td><i class="fa fa-child"></i></td>
          <% end %>
          <td><%= link_to asset.uploaded_file_file_name, asset.uploaded_file.url, class: "btn btn-link" %></td>
          <td><%= number_to_human_size(asset.uploaded_file_file_size, :precision => 2) %></td>
          <td><%= asset.updated_at %></td>
        <td><a href="http://172.27.30.148/index.php?username=<%= current_user.email%>&folder=<%=asset.id%>&file=<%=asset.uploaded_file_file_name%>" target="_blank" class="btn btn-link"><i class="fa fa-clipboard"></i></a></td>
          <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_asset_path(asset), class: "btn btn-link"  %></td>
          <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, asset, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Add File', new_sub_file_path(@folder), class: "btn btn-default" %>
  <%= link_to 'Rename Folder', edit_folder_path(@folder), class: "btn btn-default"%>
  <%= link_to 'Back', assets_path, class: "btn btn-default" %>
  <a href="http://localhost:3004?user=<%=current_user.email%>&folder=<%=@folder_id%>" class="btn btn-default" target="_blank"><i class="fa-video-camera"></i> Hangout</a>
</div>
<div class="col-md-4" style="position:relative; height:100%; overflow:hidden;">
     <iframe class=""
             style="position:relative; height:100%; overflow:hidden; background-color: #f5e5c5;"
             src="http://localhost:3003?user=<%= current_user.email%>&folder=<%=@folder_id%>">
     </iframe>
</div>
</div>