<p id="notice"><%= notice %></p>

<h4><i class="fa fa-folder-open"></i>  <%= @folder.name %></h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Size</th>
      <th>Modified</th>
      <th>Is Public</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <td><i class="fa <%=get_icon(asset.uploaded_file_content_type)%>"></i></td>
        <td><%= link_to asset.uploaded_file_file_name, asset.uploaded_file.url, class: "btn btn-link" %></td>
        <td><%= number_to_human_size(asset.uploaded_file_file_size, :precision => 2) %></td>
        <td><%= asset.updated_at %></td>
        <td><%= asset.is_public %></td>
        <td><%= link_to 'Edit', edit_asset_path(asset), class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Add File', new_sub_file_path(@folder), class: "btn btn-default" %>
<%= link_to 'Rename Folder', edit_folder_path(@folder), class: "btn btn-default"%>
<%= link_to 'Back', assets_path, class: "btn btn-default" %>
