<h1>Listing Uploads</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Size</th>
      <th>Modified</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>

    <% @folders.each do |folder| %>
      <tr>
        <td><i class="fa fa-folder-open"></i></td>
        <td><i class="fa fa-child"></i></td>
        <td><%= link_to folder.name, folder_path(folder), class: "btn btn-link" %></td>
        <td><%= number_to_human_size(folder.assets.sum(:uploaded_file_file_size)) %></td>
        <td><%= folder.assets.maximum(:updated_at) %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_folder_path(folder), class: "btn btn-link"  %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, folder, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>

    <% @being_shared_folders.each do |folder| %>
      <tr>
        <td><i class="fa fa-folder-open"></i></td>
        <td><i class="fa fa-users"></i></td>
        <td><%= link_to folder.name, folder_path(folder), class: "btn btn-link" %></td>
        <td><%= number_to_human_size(folder.assets.sum(:uploaded_file_file_size)) %></td>
        <td><%= folder.assets.maximum(:updated_at) %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_folder_path(folder), class: "btn btn-link"  %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, folder, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>

    <% @assets.each do |asset| %>
      <tr>
        <td><i class="fa <%=get_icon(asset.uploaded_file_content_type)%>"></i></td>
        <% if asset.is_public %>
          <td><i class="fa fa-globe"></i></td>
        <% else %>
          <td><i class="fa fa-child"></i></td>
        <% end %>
        <td><%= link_to asset.uploaded_file_file_name, asset.uploaded_file.url, class: "btn btn-link" %></td>
        <td><%= number_to_human_size(asset.uploaded_file_file_size, :precision => 2) %></td>
        <td><%= asset.updated_at %></td>
        <td><%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_asset_path(asset), class: "btn btn-link"  %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, asset, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></td>
      </tr>
    <% end %>

  </tbody>
</table>
<br>

<%= link_to 'Upload New File', new_asset_path, class: "btn btn-default" %>
<%= link_to 'Create New Folder', new_folder_path, class: "btn btn-default" %>

<hr>
<h2>Sharing</h2>
<%= simple_form_for :sharing, html: {role: 'form', class: 'form-horizontal' }, url: '/assets/sharing' do |f| %>
  <div class="form-group">
    <%= f.label :email, 'Resipient Email', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.input_field :email, class: "form-control", pattern: false %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :message, 'Message', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
      <%= f.input_field :message, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :folder, 'Folder', class: 'col-sm-3 control-label' %>
    <div class="col-sm-9">
    <%= f.input_field :folder, collection: @folders, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-9">
    <%= f.button :submit, 'Share', class: "btn btn-default" %>
    </div>
  </div>
<% end %>